body{
    margin-left:200px;
    margin-right:200px;
    background-color:lightsteelblue;
    color:darkcyan;
}

body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin-left:200px;
    margin-right:200px;
}

#form{
    margin-left:300px;
    margin-right:300px;
}

#title{
    margin-left:300px;
    margin-right:300px;
}

#page{
    margin-left:300px;
    margin-right:300px;
}

#text{
    font-family: italics;
    font-size:35px;
}

.navbar{
    background-color:darkcyan;
    overflow:hidden;
}

.navbar a{
    float:left;
    display:block;
    color:cornflowerblue;
    text-align:center;
    padding:14px 20px;
    text-decoration:none;
}

.navbar a:hover{
    background-color:dodgerblue;
}