body{
    margin-left:200px;
    margin-right:200px;
    background-color:lightsteelblue;
    color:darkcyan;
}

body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin-left:200px;
    margin-right:200px;
}

#form{
    margin-left:300px;
    margin-right:300px;
}

#title{
    margin-left:300px;
    margin-right:300px;
}

#page{
    margin-left:300px;
    margin-right:300px;
}

#text{
    font-family: italics;
    font-size:30px;
}

.navbar{
    overflow:hidden;
    background-color:cadetblue;
}

.navbar a{
    float:none;
    display:block;
    color:aliceblue;
    text-align:center;
    padding:2px 15px;
    text-decoration:none;
}

.navbar a:hover{
    background-color:darkcyan;
    color:dodgerblue;
}

#health{
    font-size:20px;
}