body{
    margin-left:200px;
    margin-right:200px;
    background-color:lightsteelblue;
    color:darkcyan;
}

.navbar{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:whitesmoke;
    margin:16px 40px;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font
}